// flex items => children

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: 16px;
    line-height: 1.7;
    color: #777;
}

.header {
    height: 95vh;
}