ul{
    background-color: lightgray;
    padding: 20px;

    display: flex;
}

li{
    list-style: none;
    color: white;
    background-color: green;
    padding: 10px;
    margin: 20px;
    width: 100px;
}