$color-primary: #f9ed69;
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;


$color-grey-dark: #777;
$color-white: #fff;
$color-black: 000;



$grid-width: 114rem;
$gutter-vartical: 8rem;
$gutter-horizontal: 6rem;

